      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
      form input { border: 0; padding: 12px; width: 88%;   }
      form button { 
			width: 11.5%;
			background-color: #ddd;
			border: none;
			padding: 12px;
			float: right;
	  }        
	 ul,li{
		list-style: outside none none;
	 }
	  #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
	  #messages {overflow: auto;position:absolute; width:100%;}
	  #whois-online {
	    background-color: #bbb;
		color: white;
		font-weight: bold;
		height: auto;
		
		padding: 10px;
		position: fixed;
		right: 0;
		top: 0;
		width: 11%;
	   }
	  
	  #typing-info .inside-text{ 
		background-color: grey;
		bottom: 45px;
		color: white;
		font-size: 15px;
		font-weight: bold;
		height: 40px;
		padding: 10px;
		position: fixed;
		right: 0;
		width: 250px;
	}
	
	.active-user{
		background-color: grey;
		border-radius: 5px;
		margin-bottom: 5px;
		margin-top: 5px;
		padding: 8px;
	}
		
	ul.tasks {

		 font-size: 16px;
		margin-top: 22px;
		width: 337px;
		position: absolute;
		top: 0;
		
		ul{
			margin:0;
		}
		.button{
			display:block
		}
	}
	
	.rooms{
			background-color: #eee;
			height: 600px;
			list-style: outside none none;
			margin-left: auto;
			margin-right: auto;
			right: 0;
			width: 1000px;
			z-index: -1;	
		
		 li.room {
			border: 1px dotted gray;
			display: inline-block;
			height: 298px;
			position: relative;
			width: 49.5%;
			
			&#subnet-1{
			 /*background-color: #98d0ff;*/
			}
			&#subnet-2{
			 /*background-color: #ff98f7;*/
			}
			&#subnet-3{
			 /*background-color: #feffad;*/
			}
			&#subnet-4{
			 /*background-color: #f8cd89;*/
			}
			
			ul.printers{
 
				display: block;
				float: none;
				height: 60%;
				margin: auto;
				position: absolute;
				right: 0;
				top: 211px;
				width: 21%;
				z-index: 5;
					
				li.printer{
					background-image: url("/images/printers.png");
					height: 70px;
					list-style: outside none none;
					margin: 3%;
					width: 70px;	
					&.working{
						background-position:  0px center;
					}
					&.outOfPaper{
						background-position: 140px center;
					}
					&.outOfInk{
						background-position: 140px center;
					}
					&.crashed{
						background-position: 210px center;
					}
					&.ipLost{
						background-position: 70px center;
					}
				}
			}
			
			ul.cameras{
				/*background-color: red;*/
				display: block;
				float: none;
				height: auto;
				left: 28px;
				margin: auto;
				position: absolute;
				top: 217px;
				width: 21%;
				z-index: 5;
				
				li.camera{
					background-image: url("/images/cameras.png");
					height: 66px;
					list-style: outside none none;
					margin: 3%;
					width: 76px;
					&.working{
						background-position: -77px center;
					}
					&.fullDrive{
						background-position: 154px center;
					}
					&.crashed{
						background-position: 231px center;
					}
					&.ipLost{
						background-position: 77px center;
					}
				}
			}
			
			ul.phones{
				bottom: 0;
				display: block;
				float: none;
				height: 24%;
				margin: auto;
				position: absolute;
				left:204px;
				z-index: 5;
				
				li.phone{
				background-image: url("/images/phones.png");
				height: 44px;
				list-style: outside none none;
				width: 66px;
					&.working{
						background-position: 0px center;
					}
					&.incomingCall{
						background-position: -67px center;
					}
					&.crashed{
						background-position: 133px center;
					}
					&.ipLost{
						background-position: 66px center;
					}
				}
			}
			
			ul.computers{
				display: block;
				float: none;
				margin: auto;
				position: relative;
				width: 52%;
				top: 25px;
				
				li.computer{
				background-image: url("/images/computers.png");
				display: inline-block;
				height: 59px;
				list-style: outside none none;
				margin: 3%;
				width: 63px;
				position: absolute;
					
					&.used{
						background-position: 63px center;
					}
 
					&#computer-1{
						left: 0px;
						top: 0px;
					}
					&#computer-2{
						 left: 160px;
						 top: 0px;
					}
					&#computer-3{
						  left: 80px;
						  top: 45px;
					}
					&#computer-4{
						left:  0px;
						top: 105px;
					}
					&#computer-5{
						left: 160px;
						top: 105px;
					}					
					span.hostname {
						display: block;
						position: relative;
						text-align: center;
						top: -20px;
						font-weight:bold;
						width: 100%;
					}	
				}
			}
		}
	}
	
	ul.orders, ul.items{
		margin:0;
	}